.ipynb_checkpoints/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.jupyter/

.DS_Store
Thumbs.db

.vscode/
.idea/

.env
.env.*

*.log

*.sqlite
*.db


*.html

redash_deploy/.env
redash_deploy/postgres_data/